Business/Service References/SOAPCSharpCheckService/CheckService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Check">
        <s:complexType />
      </s:element>
      <s:element name="CheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckResult" type="tns:MessageVO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageVO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckAuth">
        <s:complexType />
      </s:element>
      <s:element name="CheckAuthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAuthResult" type="tns:MessageVO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SOAPKeyAuth" type="tns:SOAPKeyAuth" />
      <s:complexType name="SOAPKeyAuth">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckSoapIn">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="CheckSoapOut">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAuthSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAuth" />
  </wsdl:message>
  <wsdl:message name="CheckAuthSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAuthResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAuthSOAPKeyAuth">
    <wsdl:part name="SOAPKeyAuth" element="tns:SOAPKeyAuth" />
  </wsdl:message>
  <wsdl:portType name="CheckServiceSoap">
    <wsdl:operation name="Check">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para verificar conectividad al servicio</wsdl:documentation>
      <wsdl:input message="tns:CheckSoapIn" />
      <wsdl:output message="tns:CheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAuth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para verificar funcionalidad de autenticacion</wsdl:documentation>
      <wsdl:input message="tns:CheckAuthSoapIn" />
      <wsdl:output message="tns:CheckAuthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckServiceSoap" type="tns:CheckServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://tempuri.org/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAuth">
      <soap:operation soapAction="http://tempuri.org/CheckAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckAuthSOAPKeyAuth" part="SOAPKeyAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckServiceSoap12" type="tns:CheckServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check">
      <soap12:operation soapAction="http://tempuri.org/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAuth">
      <soap12:operation soapAction="http://tempuri.org/CheckAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckAuthSOAPKeyAuth" part="SOAPKeyAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckService">
    <wsdl:port name="CheckServiceSoap" binding="tns:CheckServiceSoap">
      <soap:address location="http://localhost:53462/Services/CheckService.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckServiceSoap12" binding="tns:CheckServiceSoap12">
      <soap12:address location="http://localhost:53462/Services/CheckService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>